<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>管理员列表</title>
    <link rel="stylesheet" href="css/list.css" />
</head>

<body>
    <div class="wrapper">
        <div>
            <div class="logo">
                <a title="268购物网" href="index.html">
                    <img class="logo" src="images/logo1.png" />
                </a>
            </div>
            <div class="title">
                <h1 class="title-h1">管理员界面</h1>
            </div>
            <div class="exit">
                <a href="index.html">[退出]</a>
            </div>
        </div>
        <!-- 核心区 -->
        <div class="core">
            <!-- 渐变条：只需要预留空间即可，不需要单独分区 -->
            <!-- 内容区 -->
            <div class="content">
                <!-- 命令区 -->
                <div class="btn"></div>
                <!-- 数据区 -->
                <div class="data">
                    <table>
                        <thead>
                            <tr>
                                <td><input type="checkbox" />全选</td>
                                <td>会员编号</td>
                                <td>会员名</td>
                                <td>联系电话</td>
                                <td></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><input type="checkbox" /></td>
                                <td>1</td>
                                <td>唐僧</td>
                                <td>182****7290</td>
                                <td>
                                    <input type="button" value="修改" class="update" />
                                    <input type="button" value="删除" class="delete" />
                                </td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" /></td>
                                <td>2</td>
                                <td>悟空</td>
                                <td>182****7291</td>
                                <td>
                                    <input type="button" value="修改" class="update" />
                                    <input type="button" value="删除" class="delete" />
                                </td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" /></td>
                                <td>3</td>
                                <td>八戒</td>
                                <td>182****7292</td>
                                <td>
                                    <input type="button" value="修改" class="update" />
                                    <input type="button" value="删除" class="delete" />
                                </td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" /></td>
                                <td>4</td>
                                <td>沙僧</td>
                                <td>182****7294</td>
                                <td>
                                    <input type="button" value="修改" class="update" />
                                    <input type="button" value="删除" class="delete" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- 分页区 -->
                <!-- <div class="page"></div> -->
            </div>
        </div>
    </div>
</body>

</html>