<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>购物车详情</title>
  <link href="css/shopping.css" rel='stylesheet' type='text/css' />
  <link href="css/shopcart.css" rel='stylesheet' type='text/css' />
</head>

<body class="body-class">
  <div class="wrapper">
    <!------start header logo------>
    <div class="header">
      <div class="logo">
        <a title="268购物网" href="index.html"><img class="logo1" src="images/logo1.png" height=100cm /></a>
      </div>
      <div class="icon2">
        <a class="register_user" href="register.html" target="_blank">个人信息</a>
      </div>
      <div class="icon1">
        <a href=""> <img src="images/bag.png" title="购物车" /></a>
      </div>
    </div>
    <!------end header logo------>

    <div class="cart-thead">
      <div class="t-checkbox">
        <input type="checkbox" name="toggle-checkboxes" class="jdcheckbox">
        全选
      </div>
    </div>
    <!-- <div class="t-goods">商品</div>
  <div class="t-props"></div>
  <div class="t-price">单价</div>
  <div class="t-quantity">数量</div>
  <div class="t-sum">小计</div>
  <div class="t-action">操作</div> -->

    <!--------start content1--------->
    <div class="cart">
      <div class="cart-checkbox">
        <input type="checkbox" name="toggle-checkboxes" class="jdcheckbox">
      </div>
      <div class="cart-left">
        <img src="images/choose1.jpg" width="105px" height="142px" />
      </div>
      <div class="cart-middle">
        <a href="details.html">
          <h4>2014春秋装新款女装长袖针织衫女秋冬韩版外搭毛衣厚大码开衫外套</h4>
        </a>
      </div>
      <div class="cart-right">
        <p><strong>8折限时优惠￥299</strong></p>
        <div class="pay">
          <a href="pay.html">立刻购买</a>
        </div>
      </div>
    </div>

    <div class="cart">
      <div class="cart-checkbox">
        <input type="checkbox" name="toggle-checkboxes" class="jdcheckbox">
      </div>
      <div class="cart-left">
        <img src="images/choose2.jpg" width="105px" height="142px" />
      </div>
      <div class="cart-middle">
        <a href="details.html">
          <h4>女神的新衣Nana林珍娜同款预售伊芙丽2014新款马甲套装一起更优惠</h4>
        </a>
      </div>
      <div class="cart-right">
        <p><strong>8折限时优惠￥399</strong></p>
        <div class="pay">
          <a href="pay.html">立刻购买</a>
        </div>
      </div>
    </div>

    <div class="cart">
      <div class="cart-checkbox">
        <input type="checkbox" name="toggle-checkboxes" class="jdcheckbox">
      </div>
      <div class="cart-left">
        <img src="images/choose3.jpg" width="105px" height="142px" />
      </div>
      <div class="cart-middle">
        <a href="details.html">
          <h4>预售女神的新衣 ASOBIO 2014 尚雯婕明星同款优雅修身礼服连衣裙</h4>
        </a>
      </div>
      <div class="cart-right">
        <p><strong>8折限时优惠￥699</strong></p>
        <div class="pay">
          <a href="pay.html">立刻购买</a>
        </div>
      </div>
    </div>

    <div class="cart">
      <div class="cart-checkbox">
        <input type="checkbox" name="toggle-checkboxes" class="jdcheckbox">
      </div>
      <div class="cart-left">
        <img src="images/choose4.jpg" width="105px" height="142px" />
      </div>
      <div class="cart-middle">
        <a href="details.html">
          <h4>女神的新衣 ASOBIO 尚雯婕同款 2014秋装 立体花宽松字母长袖卫衣</h4>
        </a>
      </div>
      <div class="cart-right">
        <p><strong>8折限时优惠￥299</strong></p>
        <div class="pay">
          <a href="pay.html">立刻购买</a>
        </div>
      </div>
    </div>

    <div class="cart">
      <div class="cart-checkbox">
        <input type="checkbox" name="toggle-checkboxes" class="jdcheckbox">
      </div>
      <div class="cart-left">
        <img src="images/choose5.jpg" width="105px" height="142px" />
      </div>
      <div class="cart-middle">
        <a href="details.html">
          <h4>2014秋冬上新 秋季新款女装 简约撞色 呢子大衣 中长款橙毛呢外套</h4>
        </a>
      </div>
      <div class="cart-right">
        <p><strong>8折限时优惠￥199</strong></p>
        <div class="pay">
          <a href="pay.html">立刻购买</a>
        </div>
      </div>
    </div>
    <div class="cart7">
      <div class="cart7-left"><a href="pay.html">商品付款</a></div>
      <div class="cart7-right"><a>总计：￥1895</a></div>
    </div>
  </div>
  <!--------end content1--------->
</body>

</html>