<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>商品细节</title>
  <link href="css/details.css" rel='stylesheet' type='text/css' />
  <link href="css/shopping.css" rel='stylesheet' type='text/css' />
  <link rel="start icon" href="images/resize_png_new.png">
</head>

<body class="body-class">
  <div class="wrapper">
    <!------start header logo------->
    <div class="header">
      <div class="logo">
        <a title="268购物网" href="index.html"><img class="logo1" src="images/logo1.png" /></a>
      </div>
      <div class="icon2">
        <a class="register_user" href="register.html" target="_blank">个人信息</a>
      </div>
      <div class="icon1">
        <a href="cart.html"> <img src="images/bag.png" title="购物车" /></a>
      </div>
    </div>
    <!------end header logo------->

    <!-------start content left------->
    <div class="menu">
      <div class="menu-A1">
        <div class="menu-a1">
          <img class="imgbig" src="images/d1.jpg" width="300" height="400" />
        </div>
        <div class="menu-a11">
          <img src="images/d2.jpg" width="80" height="95" />
          <img src="images/d3.jpg" width="80" height="95" />
          <img src="images/d4.jpg" width="80" height="95" />
        </div>
      </div>
      <div class="menu-A2">
        <div class="menu-a2">
          <h3>
            女神的新衣尚雯婕同款
            <h3>
              <h1>￥699</h1>
        </div>
        <div class="menu-a4">
          <form>
            <h4>选择你的尺码：</h4>
            <input type="checkbox" name="尺码" value="color 1" />
            XS[155]
            <input type="checkbox" name="尺码" value="color2" />
            S[160]&nbsp;&nbsp;
            <input type="checkbox" name="尺码" value="color3" />
            M[165]
            <input type="checkbox" name="尺码" value="color4" />
            &nbsp;
            L[170]</br>
            &nbsp; </br>
            <input type="checkbox" name="尺码" value="color5" />
            XL[175]
            <input type="checkbox" name="尺码" value="color6" />
            XXL[180]
            <input type="checkbox" name="尺码" value="color6" />
            XXXL[185]
          </form>
          <br />
        </div>
        <div class="menu-a5"> <a href="pay.html">立刻购买</a></div>
        <br></br>
        <div class="menu-a5">
          <a onclick="alert('加入购物车成功')" href="function:void(0)">加入购物车</a>
        </div>
      </div>
      <br />
      <br />
      <div class="menu-B">
        <div class="b">详情</div>
        <div class="b1">
          <h4>摇滚女神的热情似火</h4>
          此款衣服的最大亮点在于三套式穿
          法 ，外套，马甲，连衣裙 无论是成套还是单穿都十分有个性，加上上面大面积红色的运用，结合军装感的基本，在女子妖娆中，体现出飒爽英姿。
        </div>
      </div>
      <div class="menu-C">
        <div class="b"> 推荐商品 </div>
        <div class="c1"><img src="images/pic2.jpg" width="160px" height="180px" /></div>
        <div class="c2"><a href="details.html">斯巴奴 2014秋装新品 男装外套 休闲拼接立领夹克外套男 3051A</a><br />
          <br />
          ①欧美时尚棒球领型、修身拉链款！<br />
          <br />
          ②35%奢华羊毛触感、撞色拼接面料尽显时尚！ </div>
        <div class="c">
          <div class="c3">
            <h1>￥799</h1>
          </div>
          <div class="c4" onclick="alert('加入购物车成功')"><a href="fuction:void(0)">加入购物车</a></div>
        </div>
        <div class="menu-D">
          <div class="b"> 推荐商品 </div>
          <div class="c1"><img src="images/pic3.jpg" width="160px" height="180px"></div>
          <div class="c2"><a href="details.html"> 女神的新衣 Nana林珍娜伊芙丽2014冬装新款大衣</a><br />
            <br />
            《女神的新衣》首档明星跨界真人秀，东方卫视每周六晚21：15强档播出！<br />
            <br />
            Nana林珍娜与知名设计师崔范锡搭档，24小时制新衣，节目同步首发，女神体验价：699元！！！</div>
          <div class="c">
            <div class="c3">
              <h1>￥699</h1>
            </div>
            <div class="c4" onclick="alert('加入购物车成功')"><a href="fuction:void(0)">加入购物车</a></div>
          </div>
        </div>
      </div>
    </div>

  </div>
</body>

</html>